<ul class="ak-posts">
  {% for post in postslist | reverse %}
    <li class="ak-posts__item">
      <a href="{{ post.url | url }}" class="ak-post__link">{{ post.data.title }}</a>
      <div class="ak-meta">
        <time class="ak-post__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        <div class="ak-tags">
          {% for tag in post.data.tags | filterTagList %}
            {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="ak-tags__item">{{ tag }}</a>
          {% endfor %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>