:root {
	--ak-color-app: #25293c;
	--ak-color-app: hsl(230, 24%, 19%);
	--ak-color-text: hsl(34, 73%, 95%);
	--ak-color-accent: hsl(189, 69%, 65%);

	--ak-color-contrast: hsl(34, 73%, 61%);
	--ak-color-faded: hsl(189, 69%, 90%);
	--ak-color-darken: hsl(230, 24%, 15%);

	--fleck-seed: 123456;
  --fleck-count: 100;
  --fleck-size-base: 5px;
  --fleck-color-1: var(--ak-color-contrast);
  --fleck-color-2: var(--ak-color-darken);
  --fleck-color-3: var(--ak-color-accent);
  --fleck-color-4: var(--ak-color-text);
  --background-color: var(--ak-color-app)
}
