nav a {
	text-decoration: none;
	color: var(--ak-c-accent-4);
}

nav a:hover,
nav a:focus {
	color: var(--ak-c-contrast-1);
}

.skip-content {
	position: fixed;
	top: 0rem;
	left: 0rem;
	padding: 0rem 1rem;
	background: var(--ak-c-surface-3);
	color: var(--ak-c-surface-1);
	display: flex;
	justify-content: center;
	line-height: 3;
	transform: translateX(-15px);
	opacity: 0;
	pointer-events: none;
	transition: 0.5s ease-in-out all;
}

.skip-content:focus-within {
	pointer-events: auto;
	transform: translateY(0em);
	opacity: 1;
}

.main-nav {
	background: var(--ak-c-surface-3);
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 1.5rem;
	z-index: 10;
	box-shadow: 0 0 2rem var(--ak-c-surface-3);
}
@media screen and (min-width: 53rem) {
	.main-nav {
		bottom: auto;
		right: auto;
		width: auto;
		flex-direction: column;
		left: calc(50vw - 27rem);
	}
}

.main-nav a {
	height: 4rem;
	min-width: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-nav a.icon {
	aspect-ratio: 1;
}

header a {
	padding: 0 0.5rem;
	border-top: 5px solid transparent;
	border-radius: 0;
	transition: 0.5s ease-in-out all;
}
header a:hover,
header a:focus {
	transition: 0.5s ease-in-out all;
	background: var(--ak-c-surface-4);
	border-color: var(--ak-c-contrast-1);
}
header a:focus {
	outline: none;
}
