.ak-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.ak-tags__item {
	background-color: var(--ak-c-surface-3);
	padding: 0 0.5em;
	font-size: small;
	font-family: var(--code);
	font-weight: bold;
	text-decoration: none;
}

.ak-posts {
	display: flex;

	flex-direction: column;
	gap: 1rem;
}

.ak-posts__item {
	list-style-type: none;
	padding: 1rem;
	background: var(--ak-c-surface-3);
}

.ak-post__link {
	display: block;
	font-family: var(--title);
	font-weight: 700;
	color: var(--ak-c-contrast-3);
	text-shadow: 1px 1px var(--ak-c-surface-3);
	line-height: 1.1;
	text-decoration: none;
}

.ak-post__title {
	margin: 0;
}

.ak-meta {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	align-items: center;
	color: var(--ak-c-text-1);
}
time {
	font-size: .8rem;
	font-weight: bold;
}
.ak-posts__item .ak-tags__item {
	background-color: var(--ak-c-surface-1);
}
