body {
	color: var(--ak-color-text);
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
	color: var(--ak-color-contrast);
	text-shadow: 1px 1px var(--ak-color-darken);
}
article .header-anchor {
	position: absolute;
	transform: translateX(-1em);
	opacity: 0.3;
	text-decoration: none;
	transition: 0.3s ease-out opacity;
	color: var(--ak-color-accent);
}

article .header-anchor:focus,
article .header-anchor:hover {
	opacity: 1;
	outline: none;
	color: var(--ak-color-accent);
}
a {
	color: var(--ak-color-accent);
	border-radius: 0.25em;
}

a:focus,
a:hover {
	color: var(--ak-color-contrast);
}
a:focus {
	outline: var(--ak-color-contrast) solid 2px;
}
strong {
	color: var(--ak-color-accent);
}
em {
	color: var(--ak-color-faded);
}
p code {
	background-color: rgba(255, 255, 255, 0.1);
	padding: 0 0.25em;
	border-radius: 0.25em;
	color: white;
}
