:root {
	--mono: "Fira Code", monospace;
	--serif: "Bitter", serif;
	/* --serif: "Noto Serif", serif; */

	--body: var(--serif);
	--body-line-height: 1.8;
	--title: var(--mono);
	--code: var(--mono);
}

body {
	color: var(--ak-c-text-1);
	font-family: var(--body);
	font-size: 1.2em;
	line-height: var(--body-line-height);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--title);
	font-weight: 700;
	color: var(--ak-c-contrast-1);
	/* text-shadow: 1px 1px var(--ak-c-surface-3); */
	line-height: 1.1;
}


article .direct-link {
	position: absolute;
	transform: translateX(-1rem);
	text-align: end;
	opacity: 0.3;
	text-decoration: none;
	transition: 0.3s ease-out opacity;
	color: var(--ak-c-accent-1);
}

article .direct-link:focus,
article .direct-link:hover {
	opacity: 1;
	outline: none;
	color: var(--ak-c-accent-1);
}
a {
	color: var(--ak-c-accent-1);
	border-radius: 0.25em;
}

a:focus,
a:hover {
	color: var(--ak-c-contrast-1);
}
a:focus {
	outline: var(--ak-c-contrast-1) solid 2px;
}
strong {
	color: var(--ak-c-accent-1);
}
em {
	color: var(--ak-color-faded);
}
p code {
	background-color: var(--ak-c-surface-light);
	padding: 0 0.25em;
	border-radius: 0.25em;
	color: var(--ak-c-text-1);
	font-family: var(--code);
}
