body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	
}

.fleck-pattern {
  width: 100%;
	height: 100%;
	background-color: var(--background-color);
	background-image: linear-gradient(var(--ak-color-darken) 40%, transparent), paint(fleck); 
}

header {
	background-color: rgba(0,0,0, .2);
}

nav a {
	text-decoration: none;
	color: var(--ak-color-accent);
}

nav a:hover,
nav a:focus {
	color: var(--ak-color-contrast);
}

main {
	max-width: 45rem;
}

.ak-post__meta {
	color: var(--ak-color-faded);
	font-size: .6em;
	border-block: 1px solid currentColor;
	background-color: rgba(255,255,255, 0.1);
	padding: var(--ak-sp-gutter);
}

article :is(h1, h2, h3) {
	position: sticky;
	top: 0;
	background-color: var(--ak-color-app);
	line-height: 3;
}
img {
	max-width: 100%;
}