---
permalink: /tags/
layout: layouts/home.njk
---
<h1 class="ak-page__title">Tags</h1>

<div class="ak-tags">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="ak-tags__item">{{ tag }}</a>
  {% endfor %}
</div>